%ul
  - list.each do |o|
    %li
      %a{:href => "/detailview?where=#{Yajl.dump :_id => o['_id']}"}= o['name'] || "#&lt;Class:#{o['_id']}&gt;"
      - if o['hasSubclasses']
        - where = Yajl.dump({:_id => o['_id']})
        %ul{:url => "/classview?where=#{where}"}
          %img{:src => '/demo/spinner.gif'}
