%ul
  - list.each do |o|
    %li
      = o['name'] || "#&lt;Class:#{o['_id']}&gt;"
      - if o['hasChildren']
        - where = Yajl.dump({:_id => o['_id']})
        %ul{:url => "/classview?where=#{where}"}
          %img{:src => '/demo/spinner.gif'}
