.contact_us
  %p If you have feedback or questions about memprof.com, we'd love to hear from you!

  %ul
    %li
      %a{:href => 'mailto:gc@memprof.com'} gc@memprof.com
    %li #memprof on irc.freenode.net
    %li
      via twitter:
      <a target='_blank' href='http://twitter.com/joedamato'>@joedamato</a>,
      <a target='_blank' href='http://twitter.com/tmm1'>@tmm1</a>,
      <a target='_blank' href='http://twitter.com/jakedouglas'>@jakedouglas</a>
