%h2.centered_text Contact

%p If you have feedback or questions about memprof.com, we'd love to hear from you!

%ul
  %li
    %a{:href => 'mailto:gc@memprof.com'} gc@memprof.com
  %li irc.freenode.net #memprof
