%ul.dumps_list
  - user = logged_in? && current_user
  - get_dumps().each do |dump|
    %li
      %a{:href => "/dump/#{dump['_id']}"}= "#{dump['name']} by #{dump['user']['username']}"
      %abbr.timeago{:title => dump['created_at'].iso8601}
      - if user && user['admin']
        %form{:action => "/delete_dump/#{dump['_id'].to_s}", :method => :post, :onSubmit => 'return confirm("ARE YOU SURE YOU WANNA DELETE THIS BRO?");'}
          %input{:type => 'submit', :name => 'submit', :value => 'Delete'}