.howto
  %h2 First
  %pre $ gem install memprof

  %h2 Then, in your application to be profiled (before anything else)
  %pre require `gem which memprof/signal`

  %h2 Finally
  %pre=h "$ memprof --pid <pid> --name <dump name> --key #{logged_in? ? current_user['api_key'] : '<api key>'}"

  %h2 Voilà
  %pre
    :preserve
      Memprof Uploader
      http://www.memprof.com
      ======================
      Signaled process 63826 with SIGINFO
      Waiting 5 seconds for process 63826 to create a new dump...

      Found file /tmp/memprof-63826-1269721162.json
      Compressing with gzip...

      Uploading to memprof.com...
      Response from server:
      "Success! Visit http://www.memprof.com/dump/4bae684b to view."

  - if logged_in?
    %h2.api_key.centered Your API key is #{current_user['api_key']}
