.login
  %form#login{:action => '/login', :method => 'POST'}
    %table
      %tr
        %td.label
          %label{:for => 'login'} Username
        %td
          %input{:id => 'login', :type => 'text', :name => 'login', :placeholder => 'username or email address', :value => params[:login] || '', :maxlength=>256}
      %tr
        %td.label
          %label{:for => 'password'} Password
        %td
          %input{:id => 'password', :type => 'password', :placeholder => 'password', :name => 'password', :value => ''}
      %tr
        %td.submit{:colspan=>2}
          %input{:type => 'submit', :name => 'submit', :value => 'Login'}
