%ul
  - list.each do |o|
    %li
      %a{:href => url_for('detail', :_id => o['_id'])}= names[o['_id']] || o['name']

      - if o['hasChildren']
        %ul{:url => url_for('namespace', nil, :_id => o['_id'])}
          %img{:src => '/demo/spinner.gif'}
