%ul
  - list.each do |o|
    %li
      %a{:href => "/panel?subview=detail&where=#{Yajl.dump :_id => o['_id']}"}= names[o['_id']] || o['name']

      - if o['hasChildren']
        - where = Yajl.dump({:_id => o['_id']})
        %ul{:url => "/namespace?where=#{where}"}
          %img{:src => '/demo/spinner.gif'}
