%ul
  - list.each do |o|
    %li
      = show_val o['_id']

      - if o['_id'] != @dump.root_object['_id'] && @dump.refs.find_one(:refs => o['_id'])
        %ul{:url => url_for('references', nil, :refs => o['_id'])}
          %img{:src => '/demo/spinner.gif'}
