.signup
  %h3.centered.warning
    DURING THE FREE BETA, ALL UPLOADED DUMPS ARE PUBLICLY ACCESSIBLE.
    DO NOT UPLOAD DUMPS FROM APPLICATIONS CONTAINING SENSITIVE DATA!
  %h4.centered.warning
    (The dump will contain a copy of your source code.)

  %form#signup{:action => '/signup', :method => 'POST'}
    %table
      %tr
        %td.label
          %label{:for => 'username'} Username
        %td
          %input{:id => 'username', :type => 'text', :placeholder => 'preferred username', :name => 'username', :value => params[:username] || '', :maxlength=>256, :autofocus=>'autofocus'}
      %tr
        %td.label
          %label{:for => 'name'} Name
        %td
          %input{:id => 'name', :type => 'text', :name => 'name', :placeholder => 'full name', :value => params[:name] || '', :maxlength=>256}
      %tr
        %td.label
          %label{:for => 'email'} Email
        %td
          %input{:id => 'email', :type => 'text', :name => 'email', :placeholder => 'email address', :value => params[:email] || '', :maxlength=>256}
      %tr
        %td.label
          %label{:for => 'password'} Password
        %td
          %input{:id => 'password', :type => 'password', :placeholder => 'password (stored using bcrypt)', :name => 'password', :value => ''}
      %tr
        %td.label
          %label{:for => 'password_confirmation'} Password Again
        %td
          %input{:id => 'password_confirmation', :type => 'password', :placeholder => 'password again', :name => 'password_confirmation', :value => ''}
      %tr
        %td.submit{:colspan=>2}
          %input{:type => 'submit', :name => 'submit', :value => 'Sign up'}
