%script{:type => 'text/javascript', :src => '/jquery.min.js'}
%script{:type => 'text/javascript', :src => '/jquery.form.js'}

%h2.centered_text memprof.com is currently in a free beta

%p To sign up, please complete this form!

%form#signup{:action => '/signup', :method => 'POST'}
  %table
    %tr
      %td
        %span= "Name:"
      %td
        %input{:type => 'text', :name => 'name', :value => params[:name] || '', :maxlength=>256}
    %tr
      %td
        %span= "Email:"
      %td
        %input{:type => 'text', :name => 'email', :value => params[:email] || '', :maxlength=>256}
    %tr
      %td
        %span= "Password:"
      %td
        %input{:type => 'password', :name => 'password', :value => ''}
    %tr
      %td
        %span= "Password confirmation:"
      %td
        %input{:type => 'password', :name => 'password_confirmation', :value => ''}
    %tr
      %td
      %td
        %input{:type => 'submit', :name => 'submit', :value => 'Sign up'}

%h3.centered_text DURING THE FREE BETA, ALL UPLOADED DUMPS ARE PUBLICLY ACCESSIBLE. DO NOT UPLOAD DUMPS FROM APPLICATIONS CONTAINING SENSITIVE DATA!

:javascript
  $("#signup").submit(function() {
    $(this).ajaxSubmit({
      success: function(responseText, statusText) {
        alert(responseText);
        window.location = '/';
      },
      error: function (obj) {
        alert(obj.responseText);
      }
    });
    return false;
  });
