%ul
  - list.each do |o|
    %li
      %a{:href => "/panel?subview=detail&where=#{Yajl.dump :_id => o['_id']}"}= o['name'] || "#&lt;Class:#{o['_id']}&gt;"
      - if o['hasSubclasses']
        %ul{:url => "/subclasses?of=#{Yajl.dump :_id => o['_id']}"}
          %img{:src => '/demo/spinner.gif'}
