%ul
  - list.each do |o|
    %li
      %a{:href => url_for('detail', :_id => o['_id'])}= o['name'] || h("#<Class:#{o['_id']}>")

      - if o['hasSubclasses']
        %ul{:url => url_for('subclasses', nil, :_id => o['_id'])}
          %img{:src => '/demo/spinner.gif'}
