body
  padding: 2em
.clear
  clear: both
.panel
  float: left
  padding: 0 2em
  &.additional
    border-left: 1px solid #ccc
  .content
    position: relative
#query
  select
    text-align: right
    width: 100%
    margin: auto
  input, textarea
    width: 98%
    border: 1px solid #ccc
    padding: 5px
    font-family: monospace
    color: #666
    overflow: hidden
    height: 50px
    //text-align: center
.objects
  color: #666
  margin-left: 0.35em
ul.nav
  padding: 0
  margin: 0.65em 0 1.5em 0
  li
    list-style-type: none
    display: inline
    padding: 0.5em
    a.selected
      color: #c33
li > span.num
  color: #bbb
  width: 50px
  text-align: right
  position: absolute
  left: -8px
a
  text-decoration: none
  color: #33d
  &:visited
    color: #33d
  &:hover
    text-decoration: none
  &.current
    background-color: yellow
td.addr
  font-family: monospace, courier
  text-align: center
  a
    color: #aaa
    text-decoration: none
    &:hover
      color: #aaa
table.info
  margin-bottom: 1.25em
  tr.spacer
    height: 1em
  td.key
    vertical-align: top
    text-align: right
    font-weight: bold
    padding-right: 0.5em
  td.val
    padding-left: 0.5em
    a
      &:hover
        font-weight: bold
