!!!
%html
  %head
    %style{:type => 'text/css'}
      :plain
        body{padding: 5em; background-color: #000000}
    %title memprof: Ruby level profiling on a whole new level
  %body
    %font{:color => '#FFFFFF', :face => 'lucida console'}
      #container
        %center
          %h1 Memprof: The Ruby level memory profiler
          Give us your email address to get a beta invite.
          %p
            %form{:action => '/email', :method => 'POST'}
              %input{:type => 'text', :name => 'email_addr', :value => '', :maxlength=>256}
              %input{:type => 'submit', :name => 'submit', :value => 'I want it.'}
          %small
            Questions?
            %a{:href=>"mailto:gc@memprof.com"} gc@memprof.com

          - 4.times do
            %br

          <a href="http://twitter.com/joedamato">@joedamato</a> |
          <a href="http://twitter.com/tmm1">@tmm1</a> |
          <a href="http://twitter.com/jakedouglas">@jakedouglas</a>
    #track
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-13122595-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
