!!!
%html
  %head
    %style{:type => 'text/css'}
      :plain
        body{padding: 5em; background-color: #000000}
    %title memprof: Ruby level profiling on a whole new level
  %body
    %font{:color => '#FFFFFF', :face => 'lucida console'}
      #container
        %center
          %h1 Memprof: The Ruby level memory profiler
          Give us your email address to get a beta invite.
          %p
            %form{:action => '/email', :method => 'POST'}
              %input{:type => 'text', :name => 'email_addr', :value => '', :maxlength=>256}
              %input{:type => 'submit', :name => 'submit', :value => 'I want it.'}
          %small
            Questions?
            %a{:href=>"mailto:gc@memprof.com"} gc@memprof.com  
    #track
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var pageTracker = _gat._getTracker("UA-13122595-1");
        pageTracker._trackPageview();
        } catch(err) {}
