%html
  %head
    %style{:type => 'text/css'}
      :plain
        body{margin: 5em}
    %title memprof: Ruby level profiling on a whole new level
    %script{:type => 'text/javascript', :src => '/jquery-1.3.1.min.js'}
  %body{:bgcolor => '#000000'}
    %font{:color => '#FFFFFF', :face => 'lucida console'}
      %center
        #container
          Thanks. We'll be emailing you soon. 
    #track
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var pageTracker = _gat._getTracker("UA-13122595-1");
        pageTracker._trackPageview();
        } catch(err) {}
