!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => '/demo/screen.css'}/
    %link{:rel => 'stylesheet', :href => '/demo/jquery.treeview.css'}/
    %style{:type => 'text/css'}
      :sass
        body
          padding: 2em
        .panel
          float: left
          padding-right: 2em
          border-right: 1px solid #ccc
          margin-right: 2em
          position: relative
        #query
          select
            text-align: right
            width: 100%
            margin: auto
          input, textarea
            width: 100%
            border: 1px solid #ccc
            padding: 5px
            font-family: monospace
            color: #666
            overflow: hidden
            height: 50px
            //text-align: center
        .objects
          color: #666
          margin-left: 0.35em
        ul.grouping
          margin-top: -10px
          float: right
          li
            text-align: right
            cursor: move
            color: #999
            list-style-type: none
        ul.nav
          padding: 0
          margin: 0.65em 0 1.5em 0
          li
            list-style-type: none
            display: inline
            padding: 0.5em
            a.selected
              color: #c33
        li > span.num
          color: #bbb
          width: 50px
          text-align: right
          position: absolute
          left: -8px
        a
          text-decoration: none
          color: #33d
          &:visited
            color: #33d
          &:hover
            text-decoration: none
        td.addr
          width: 70px
          font-family: monospace, courier
          text-align: center
          padding-right: 1em
          a
            color: #aaa
            text-decoration: none
            &:hover
              color: #aaa
        table.info
          margin-bottom: 1.25em
          td.key
            vertical-align: top
            text-align: right
            font-weight: bold
            padding-right: 1em
            width: 185px
          td.val
            a
              &:hover
                font-weight: bold

    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'}
    %script{:type => 'text/javascript', :src => '/demo/jquery.treeview.js'}
    %script{:type => 'text/javascript', :src => '/demo/jquery.auto_grow_input.js'}

    :javascript
      $.fn.setupTree = function() {
        $(this).each(function(){
          var tree = $(this);

          if (tree.hasClass('grouped')) {
            tree.css('margin-left', '45px');
          }

          tree.treeview({
            collapsed: true,
            animated: 'fast',
            prerendered: false,
            toggle: function(){
              var $this = $(this);
              if ($this.hasClass('loaded'))
                return;

              $this.addClass('loaded');
              var sublist = $this.find('>ul');
              var url = sublist.attr('url') || '/test';

              $.ajax({
                url: url,
                success: function(data) {
                  sublist.animate({height: '0'}, 'fast', function(){
                    sublist.remove();
                    var newlist = $(data);
                    newlist.css('display','none').appendTo($this);
                    tree.trigger('add', newlist);
                    newlist.animate({height:'toggle'}, 'fast');
                  });
                },
                error: function() {
                  $this.removeClass('loaded');
                }
              });
            }
          });
        });
      };

      $(function(){
        $('div.panel ul').not('ul.nav, ul.grouping').setupTree();

        var input = $('#query input');
        var inputVal = input.val();
        input.autoGrowInput({comfortZone: 10});

        var updateSubnav = function(){
          if (inputVal == input.val()) return;
          inputVal = input.val();

          input.siblings('.objects').html('<img src="/demo/spinner.gif" align="absmiddle" />');

          $.getJSON(
            '/subnav',
            { where: JSON.stringify(input.val()) },
            function(obj){
              input.siblings('.objects').text(obj.count + ' object' + (obj.count==1 ? '' : 's'));
            }
          );
        };

        input.blur(updateSubnav);
        input.focus(function(){ input.css({padding: '5px 10px 5px 5px', textAlign: 'left'}) })
             .blur( function(){ input.css({padding: '5px', textAlign: 'center'}) });

        input.blur();

        var form = $('form#search');

        $('ul.nav li a').live('click', function(){
          var panel = $(this).parents('div.panel:first');

          panel.find('> div.content').html('<img src="/demo/spinner.gif" style="margin: auto">');
          
          $.get(this.href, function(html){
            var content = $(html);
            content.find('ul').not('ul.nav, ul.grouping').setupTree();
            panel.replaceWith(content);
          });

          return false;
        });

        $('ul.grouping').sortable();
      });
  %body
    - if request.path =~ %r|^/panel|
      = yield
    - else
      = partial :_oldpanel, :content => yield