html, body { margin: 0; padding: 0; }

html>body {
  font-size: 16px;
  font-size: 68.75%;
}

body {
  font-family: Verdana, helvetica, arial, sans-serif;
  font-size: 68.75%;
  background: #fff;
  color: #333;
}

h1, h2 { font-family: 'trebuchet ms', verdana, arial; padding: 10px; padding-left: 0; margin: 0 }
h1 { font-size: large }

a img { border: none; }
